<% include partials/header %>
<div class="container shadowEffect" id="loginForm">
	<form action="/login" method="POST">
		<% if (message != null) { %>
        	<div class="alert alert-danger"><%= message %></div>
        <% } %>

		<div class="form-group col-md-6">
			<label>Username</label>
			<input type="text" class="form-control" name="Username">
		</div>    
		<div class="form-group col-md-6">
			<label>Password</label>
			<input type="password" class="form-control" name="Password">
		</div>    		
		
		<button type="submit" class="btn btn-primary">Log in</button>
	</form>
</div>
<% include partials/footer %>