<% include partials/header %>

<div class="container shadowEffect" id="registerForm">
	<form class="form-inline" action="/register" method="POST">
		<% if (error != null) { %>
        	<div class="alert alert-danger"><%= error %></div>
        <% } %>
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="ml-2 form-control" name="Name">
		</div>			
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="ml-2 form-control" name="Email">
		</div>    
		<div class="form-group">
			<label>Birth Date</label>
			<input type="date" class="ml-2 form-control" name="BirthDate">
		</div>
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="ml-2 form-control" name="Username">
		</div>    
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="ml-2 form-control" name="Password">
		</div>    
		<div class="form-group">
			<label>Phone Number</label>
			<input type="tel" class="ml-2 form-control" name="PhoneNumber">
		</div>		
			
		<div class="form-group">
			<label">District</label>
			<select class="form-control" name ="District">
				<option selected>Islands</option>
				<option>Kwai Tsing</option>
				<option>North</option>
				<option>Sai Kung</option>
				<option>Sha Tin</option>
				<option>Tai Po</option>
				<option>Tsuen Wan</option></option>
				<option>Tuen Mun</option>
				<option>Yuen Long</option>
				<option>Kowloon City</option>
				<option>Kwun Tong</option>
				<option>Sham Shui Po</option>
				<option>Wong Tai Sin</option>
				<option>Yau Tsim Mong</option>
				<option>Central and Western</option>
				<option>Eastern</option>
				<option>Southern</option>
				<option>Wan Chai</option>
			</select>
		</div>
		<div class="form-group">
			<div class="form-check">
				<label class="form-check-label">
					<input class="form-check-input" type="checkbox"> I agree the term of services.
				</label>
			</div>
		</div><br><br><br>
		<button type="submit" class="ml-5 btn btn-primary">Sign in</button>
	</form>
</div>

<script>
	$(document).ready(function(){

			
	});

</script>

<% include partials/footer %>