.nav-item a:hover{
	background-color: white;

}

.headerNav{
	background-color: #F5F5F5;
	border-bottom: 2px solid #BEBEBE;
	border-top: 1px solid #6600FF;
}

#registerForm,#loginForm{
	width:50%;
	height: 50%;
	position: relative;
	left:auto;
	right:auto;
	top:50px;
	padding:30px 30px;
}

.shadowEffect{
	box-shadow: 2px 2px 2px #888888;
	border:0.5px outset #7ecdee;
}

.indexSlide{
	width:500px;
	height: 300px;
}

/*profile*/
.userArea{
	background-color: #F1F3FA;
	min-height: 600px;
}

.userArea-userMenu{
	background-color: white;
	margin: 20px 30px 0px 20px;
	min-height: 500px;
}

.userArea-content{
	background-color: white;
	margin: 20px 30px 0px 20px;
	min-height: 500px;
}

.userMenu-title h5{
	border-bottom: 2px solid grey;
}

.userArea-list .nav-link.active{
	border-left: 2px solid #5b9bd1 !important; 
	border-right-style: none !important;
	border-top-style: none !important;
	border-radius: 0px !important;
}

.avatar{
	border: 2px solid black;
	margin-top: 10px;
}
